[Unit]
Description=Sensord Service
After=bluetooth.target
Requires=bluetooth.target

[Service]
ExecStart=/usr/bin/sensord
Restart=on-failure

[Install]
WantedBy=multi-user.target